/* ROOT */
.dm-canvas {
    position: relative;
    overflow: hidden;
}
.dm-canvas * {
    box-sizing: border-box;
}

/* WRAP */
.dm-canvas .wrap {
    position: absolute;
    border: 1px solid transparent;
}

/* GROUP */
.dm-canvas .group {
    position: absolute;
    border: 1px solid transparent;
}

/* ELEMENT */
.dm-canvas .wrap > .element {
    width: 100%;
    height: 100%;
}

/* TEXT BOX */
.dm-canvas .wrap[data-type='textbox']:focus-visible {
    outline: none;
    border: 1px solid steelblue;
    border-radius: 4px;
}

.dm-canvas .wrap > p {
    word-break: break-all;
    white-space: pre-wrap;
}

/* IMAGE */
.dm-canvas .wrap > img {
    user-select: none;
}

/* FOCUS */
.dm-canvas .focus {
    border: 1px solid red;
    border-radius: 4px;
}
.dm-canvas .focus > .rotate {
    pointer-events: auto;
    opacity: 1;
}
.dm-canvas .focus > .size {
    pointer-events: auto;
    opacity: 1;
}

/* ROTATE */
.dm-canvas .rotate {
    --rotate-size: 15px;
    position: absolute;
    width: var(--rotate-size);
    height: var(--rotate-size);
    top: calc(var(--rotate-size) * -1 - 10px);
    left: calc(50% - var(--rotate-size) * 0.5);
    border: 2px solid antiquewhite;
    background-color: skyblue;
    border-radius: 50%;
    opacity: 0;
    cursor: crosshair;
}

.dm-canvas [flip-y='true'] .rotate {
    top: unset;
    bottom: calc(var(--rotate-size) * -1 - 10px);
}

/* SIZE */
.dm-canvas .size {
    --size-size: 15px;
    position: absolute;
    width: var(--size-size);
    height: var(--size-size);
    border: 2px solid antiquewhite;
    background-color: skyblue;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}

.dm-canvas .size.bc {
    cursor: ns-resize;
    left: calc(50% - var(--size-size) * 0.5);
    bottom: calc(var(--size-size) * -0.5);
}
.dm-canvas [flip-y='true'] .size.bc {
    bottom: unset;
    top: calc(var(--size-size) * -0.5);
}

.dm-canvas .size.br {
    cursor: nwse-resize;
    right: calc(var(--size-size) * -0.5);
    bottom: calc(var(--size-size) * -0.5);
}
.dm-canvas [flip-x='true'] .size.br {
    right: unset;
    left: calc(var(--size-size) * -0.5);
}
.dm-canvas [flip-y='true'] .size.br {
    bottom: unset;
    top: calc(var(--size-size) * -0.5);
}

.dm-canvas .size.rc {
    cursor: ew-resize;
    right: calc(var(--size-size) * -0.5);
    top: calc(50% - var(--size-size) * 0.5);
}
.dm-canvas [flip-x='true'] .size.rc {
    right: unset;
    left: calc(var(--size-size) * -0.5);
}
